<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Clarke</title>
</head>
<body>
    <h1> HI, I'M CLARKE!</h1>
    <img src="../images/joan_clarke.jpg" alt="">
    <p>Joan Elisabeth Lowther Murray, nacida como Joan Elisabeth Lowther Clarke fue una criptoanalista y numismática británica que trabajó en Bletchley Park durante la Segunda Guerra Mundial. <br>
    Nació el 24 de junio de 1917 en Reino Unido y falleció el 4 de septiembre de 1996 en dicha ciudad.</p>

</body>
</html>