<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hopper</title>
</head>
<body>
    <h1>HI, I'M GRACE MURRAY HOPPER!</h1>
    <img src="../images/grace-hopper-work.jpg" alt="">
    <p>Grace Murray Hopper fue una científica de la computación y militar estadounidense con grado de contraalmirante. Fue pionera en el mundo de las ciencias de la computación y la primera programadora que utilizó el Mark I. <br>
    Nació el 9 de diciembre de 1906 en Nueva York y falleció el 1 de enero de 1992 en Virginia, Estados Unidos.</p>
</body>
</html>